In [1]:
import os 
import pandas as pd

In [2]:
os.chdir('D:\\programming\\practice\\Project\\Flight dataset')
df1 = pd.read_csv('./combine2016-2017')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df1

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15
0,2017,3,9,25,2017-09-25,12478,JFK,13204,MCO,1346,1340.0,0.0,0.0,1642,1615.0,0.0,0.0
1,2017,3,9,25,2017-09-25,12478,JFK,13930,ORD,902,856.0,0.0,0.0,1045,1008.0,0.0,0.0
2,2017,3,9,25,2017-09-25,13930,ORD,12478,JFK,2044,2045.0,1.0,0.0,2359,2345.0,0.0,0.0
3,2017,3,9,25,2017-09-25,11057,CLT,12478,JFK,1952,1939.0,0.0,0.0,2157,2127.0,0.0,0.0
4,2017,3,9,25,2017-09-25,12478,JFK,11057,CLT,1658,1655.0,0.0,0.0,1914,1849.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877291,2016,1,1,3,2016-01-03,13204,MCO,13930,ORD,1130,1128.0,0.0,0.0,1330,1317.0,0.0,0.0
1877292,2016,1,1,3,2016-01-03,14107,PHX,11292,DEN,2110,2152.0,42.0,1.0,2259,2338.0,39.0,1.0
1877293,2016,1,1,3,2016-01-03,11292,DEN,14107,PHX,1830,1928.0,58.0,1.0,2024,2117.0,53.0,1.0
1877294,2016,1,1,3,2016-01-03,13930,ORD,13204,MCO,925,1039.0,74.0,1.0,1312,1419.0,67.0,1.0
1877295,2016,1,1,3,2016-01-03,13204,MCO,13930,ORD,630,627.0,0.0,0.0,835,950.0,75.0,1.0

In [3]:
os.chdir('D:\\programming\\practice\\Project\\Weather dataset')
df2 = pd.read_csv('./weather_final')
df2 = df2.drop(['Unnamed: 0'],axis=1)
df2

,windspeedKmph,DewPointF,cloudcover,precipMM,pressure,WindGustKmph,visibility,weatherCode,tempF,WindChillF,winddirDegree,humidity,time,date,airport
0,14,53,89,0.0,1015,23,10,122,58,57,167,84,2300,2016-01-31,ATL
1,13,54,92,0.0,1015,21,10,122,59,58,164,83,2200,2016-01-31,ATL
2,12,54,95,0.0,1015,20,10,122,59,59,162,83,2100,2016-01-31,ATL
3,13,54,95,0.0,1015,20,10,122,60,59,165,82,2000,2016-01-31,ATL
4,13,54,96,0.0,1015,20,10,122,60,60,169,82,1900,2016-01-31,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263155,6,47,0,0.0,1009,13,10,113,78,78,51,57,400,2017-09-01,SFO
263156,6,48,0,0.0,1009,12,10,113,79,79,51,59,300,2017-09-01,SFO
263157,5,50,0,0.0,1009,10,10,113,79,79,115,53,200,2017-09-01,SFO
263158,4,51,0,0.0,1009,9,10,113,80,80,180,46,100,2017-09-01,SFO
263159,4,53,0,0.0,1009,7,10,113,80,80,244,39,0,2017-09-01,SFO

In [4]:
#nan values in flight dataset
df1.isnull().sum()

Year                   0
Quarter                0
Month                  0
DayofMonth             0
FlightDate             0
OriginAirportID        0
Origin                 0
DestAirportID          0
Dest                   0
CRSDepTime             0
DepTime            20980
DepDelayMinutes    20987
DepDel15           20987
CRSArrTime             0
ArrTime            22080
ArrDelayMinutes    25860
ArrDel15           25860
dtype: int64

In [5]:
#nan values in weather dataset
df2.isnull().sum()

windspeedKmph    0
DewPointF        0
cloudcover       0
precipMM         0
pressure         0
WindGustKmph     0
visibility       0
weatherCode      0
tempF            0
WindChillF       0
winddirDegree    0
humidity         0
time             0
date             0
airport          0
dtype: int64

In [6]:
df2['time'].unique()

array([2300, 2200, 2100, 2000, 1900, 1800, 1700, 1600, 1500, 1400, 1300,
       1200, 1100, 1000,  900,  800,  700,  600,  500,  400,  300,  200,
        100,    0], dtype=int64)

In [43]:
str(df1['CRSDepTime'][0])[0:2]

'13'

In [8]:
def roundtime(x):
    if(len(str(x))==4):
        if(int(str(x)[0:2]=='23')and int(str(x)[-2::1]>='30')):
            return 0
        if(int(str(x)[-2::1])<=30):
            return int(str(x)[:2]+"00")
            
        if(int(str(x)[-2::1])>30):
            return int(str(x)[:2]+"00")+100
    
    else:
        if(int(str(x)[-2::1])<=30):
            return int(str(x)[:1]+"00")
        if(int(str(x)[-2::1])>30):
            return int(str(x)[:1]+"00")+100
df1['time'] = df1['CRSArrTime'].apply(roundtime)

In [13]:
df1

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelayMinutes,ArrDel15,time
0,2017,3,9,25,2017-09-25,12478,JFK,13204,MCO,1346,1340.0,0.0,0.0,1642,1615.0,0.0,0.0,1700
1,2017,3,9,25,2017-09-25,12478,JFK,13930,ORD,902,856.0,0.0,0.0,1045,1008.0,0.0,0.0,1100
2,2017,3,9,25,2017-09-25,13930,ORD,12478,JFK,2044,2045.0,1.0,0.0,2359,2345.0,0.0,0.0,0
3,2017,3,9,25,2017-09-25,11057,CLT,12478,JFK,1952,1939.0,0.0,0.0,2157,2127.0,0.0,0.0,2200
4,2017,3,9,25,2017-09-25,12478,JFK,11057,CLT,1658,1655.0,0.0,0.0,1914,1849.0,0.0,0.0,1900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877291,2016,1,1,3,2016-01-03,13204,MCO,13930,ORD,1130,1128.0,0.0,0.0,1330,1317.0,0.0,0.0,1300
1877292,2016,1,1,3,2016-01-03,14107,PHX,11292,DEN,2110,2152.0,42.0,1.0,2259,2338.0,39.0,1.0,2300
1877293,2016,1,1,3,2016-01-03,11292,DEN,14107,PHX,1830,1928.0,58.0,1.0,2024,2117.0,53.0,1.0,2000
1877294,2016,1,1,3,2016-01-03,13930,ORD,13204,MCO,925,1039.0,74.0,1.0,1312,1419.0,67.0,1.0,1300
1877295,2016,1,1,3,2016-01-03,13204,MCO,13930,ORD,630,627.0,0.0,0.0,835,950.0,75.0,1.0,900

In [14]:
df1.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'FlightDate',
       'OriginAirportID', 'Origin', 'DestAirportID', 'Dest', 'CRSDepTime',
       'DepTime', 'DepDelayMinutes', 'DepDel15', 'CRSArrTime', 'ArrTime',
       'ArrDelayMinutes', 'ArrDel15', 'time'],
      dtype='object')

In [15]:
df2.columns

Index(['windspeedKmph', 'DewPointF', 'cloudcover', 'precipMM', 'pressure',
       'WindGustKmph', 'visibility', 'weatherCode', 'tempF', 'WindChillF',
       'winddirDegree', 'humidity', 'time', 'date', 'airport'],
      dtype='object')

In [16]:
df1.dtypes , df2.dtypes

(Year                 int64
 Quarter              int64
 Month                int64
 DayofMonth           int64
 FlightDate          object
 OriginAirportID      int64
 Origin              object
 DestAirportID        int64
 Dest                object
 CRSDepTime           int64
 DepTime            float64
 DepDelayMinutes    float64
 DepDel15           float64
 CRSArrTime           int64
 ArrTime            float64
 ArrDelayMinutes    float64
 ArrDel15           float64
 time                 int64
 dtype: object,
 windspeedKmph      int64
 DewPointF          int64
 cloudcover         int64
 precipMM         float64
 pressure           int64
 WindGustKmph       int64
 visibility         int64
 weatherCode        int64
 tempF              int64
 WindChillF         int64
 winddirDegree      int64
 humidity           int64
 time               int64
 date              object
 airport           object
 dtype: object)

In [20]:
df3 = pd.merge(df1, df2 , how='left',left_on=['FlightDate','time','Origin'], right_on=['date', 'time','airport'])

In [23]:
df3.to_csv('./final_merged_ARRIVAL.csv')

In [24]:
df3

,Year,Quarter,Month,DayofMonth,FlightDate,OriginAirportID,Origin,DestAirportID,Dest,CRSDepTime,...,pressure,WindGustKmph,visibility,weatherCode,tempF,WindChillF,winddirDegree,humidity,date,airport
0,2017,3,9,25,2017-09-25,12478,JFK,13204,MCO,1346,...,1017.0,17.0,10.0,143.0,72.0,72.0,134.0,82.0,2017-09-25,JFK
1,2017,3,9,25,2017-09-25,12478,JFK,13930,ORD,902,...,1018.0,9.0,10.0,116.0,73.0,73.0,122.0,80.0,2017-09-25,JFK
2,2017,3,9,25,2017-09-25,13930,ORD,12478,JFK,2044,...,1016.0,12.0,10.0,113.0,82.0,82.0,157.0,62.0,2017-09-25,ORD
3,2017,3,9,25,2017-09-25,11057,CLT,12478,JFK,1952,...,1013.0,16.0,10.0,116.0,77.0,77.0,34.0,68.0,2017-09-25,CLT
4,2017,3,9,25,2017-09-25,12478,JFK,11057,CLT,1658,...,1017.0,16.0,10.0,143.0,69.0,69.0,139.0,88.0,2017-09-25,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877291,2016,1,1,3,2016-01-03,13204,MCO,13930,ORD,1130,...,1017.0,19.0,8.0,302.0,60.0,58.0,329.0,87.0,2016-01-03,MCO
1877292,2016,1,1,3,2016-01-03,14107,PHX,11292,DEN,2110,...,1014.0,34.0,10.0,113.0,55.0,53.0,83.0,39.0,2016-01-03,PHX
1877293,2016,1,1,3,2016-01-03,11292,DEN,14107,PHX,1830,...,1032.0,12.0,0.0,260.0,21.0,16.0,189.0,99.0,2016-01-03,DEN
1877294,2016,1,1,3,2016-01-03,13930,ORD,13204,MCO,925,...,1023.0,28.0,10.0,113.0,28.0,16.0,326.0,83.0,2016-01-03,ORD
1877295,2016,1,1,3,2016-01-03,13204,MCO,13930,ORD,630,...,1016.0,21.0,4.0,266.0,63.0,61.0,343.0,86.0,2016-01-03,MCO

In [25]:
df3['airport'].isnull().sum()

15